
<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]><html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]><html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="ie9 no-js"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="no-js"> <!--<![endif]-->
<head>

  <!-- Basic page needs ================================================== -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">


    <link rel="icon" type="image/x-icon" href="~/img/SR_LOGO.png" sizes="106x104">

    <!-- Title and description ================================================== -->
    <title> Secret Recipe</title>

  

  <!-- Social meta ================================================== -->
  

  <meta property="og:type" content="website">
  <meta property="og:title" content="Cake Information">
  <meta property="og:url" content="https://www.secretrecipe.com.sg/pages/cake-information">
  
    <meta property="og:image" content="https://cdn.store-assets.com/s/896/f/13567861.jpg">
    <meta property="og:image:secure_url" content="https://cdn.store-assets.com/s/896/f/13567861.jpg">
  


<meta property="og:description" content="Secret Recipe is your go-to choice for halal-certified cakes in Singapore. We offer islandwide delivery services, so everyone can savor our delicious sweet treats wherever they are. Secret Recipe also offers a wide range of food in our casual dining restaurant.">
<meta property="og:site_name" content="Secret Recipe">



  <meta name="twitter:card" content="summary">



  <meta name="twitter:site" content="">





  <!-- Helpers ================================================== -->
  <link rel="canonical" href="https://www.secretrecipe.com.sg/pages/cake-information">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="theme-color" content="#ED1B25">
  
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js" type="text/javascript" ></script>
  
  <!-- Header hook for plugins ================================================== -->
  
<!-- ScriptTags -->
@* <script>window.__st={'p': 'page', 'cid': ''};</script><script src='/assets/events.js'></script><script>(function(){function asyncLoad(){var urls=['/assets/traffic.js?v=1','https://apps.easystore.co/social-media-share/script.js?shop=secretrecipe2.easy.co','https://apps.easystore.co/facebook-login/script.js?shop=secretrecipe2.easy.co','https://chimpstatic.com/mcjs-connected/js/users/24e0cfc4189994a568db30312/7b2e6b904b995018df4236300.js','https://apps.easystore.co/snow-fall/script.js?shop=secretrecipe2.easy.co&t=1731567200','https://smartarget.online/loader.js?type=int&u=6a9f13940a514b1ee69ae59004598ff827295e8a&source=easystore_exit_popup'];for(var i=0;i<urls.length;i++){var s=document.createElement('script');s.type='text/javascript';s.async=true;s.src=urls[i];var x=document.getElementsByTagName('script')[0];x.parentNode.insertBefore(s, x);}}window.attachEvent ? window.attachEvent('onload', asyncLoad) : window.addEventListener('load', asyncLoad, false);})();</script>
 *@<!-- /ScriptTags -->



    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="css/vendor.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">

    <!-- JS Scripts -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <script src="~/js/SecretRecipe.js" asp-append-version="true"></script>
@*     <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="css/vendor.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">

    <!-- JS Scripts -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script> *@
  
  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', '', 'auto','myTracker');
  ga('myTracker.send', 'pageview');

  </script>
  
  <script src="/assets/storefront.js?id=5b96e48c778f63472284" type="text/javascript" ></script>


  <!-- CSS ================================================== -->
        <link rel="stylesheet" type="text/css" href="~/css/mainpage.css" asp-append-version="true">
    <link rel="stylesheet" type="text/css" href="~/css/site.css" asp-append-version="true">
    <link rel="stylesheet" type="text/css" href="~/css/Whatsnew.css">
    <link rel="stylesheet" type="text/css" href="~/css/footer.css" asp-append-version="true">
    <script src="~/js/SecretRecipe.js" asp-append-version="true"></script>

  <style>

      :root {
        --font-body-family: 'Lato', sans-serif;
        --font-body-style: normal;
        --font-body-weight: 500;

        --font-heading-family: 'Lobster', display;
        --font-heading-style: normal;
        --font-heading-weight: 700;

        --color-heading-text: 18,18,18;
        --color-base-text: 18,18,18;
        --color-base-background-1: 255,255,255;
        --color-base-background-2: 255,255,255;
        
        --color-base-solid-button-labels: 255,255,255;
        --color-base-outline-button-labels: 18,18,18;
        
        --color-base-accent-1: 237,27,37;
        --color-base-accent-2: 237,27,37;
        --payment-terms-background-color: 255,255,255;

        --gradient-base-background-1: 255,255,255;
        --gradient-base-background-2: 255,255,255;
        --gradient-base-accent-1: 237,27,37;
        --gradient-base-accent-2: 237,27,37;

        --page-width: 140rem;
      }

      *,
      *::before,
      *::after {
        box-sizing: inherit;
      }

      html {
        box-sizing: border-box;
        font-size: 62.5%;
        height: 100%;
      }

      /* body {
        display: grid;
        grid-template-rows: auto auto 1fr auto;
        grid-template-columns: 100%;
        min-height: 100%;
        margin: 0;
        font-size: 1.5rem;
        letter-spacing: 0.06rem;
        line-height: 1.8;
        font-family: var(--font-body-family);
        font-style: var(--font-body-style);
        font-weight: var(--font-body-weight);
        
      } */
        /* Ensure table uses full grid with borders */
        .table-wrapper table {
            border-collapse: collapse; /* Ensures borders don't double */
            width: 100%; /* Full width of container */
            margin: 10px 0; /* Add some spacing above/below table */
        }

        .table-wrapper th,
        .table-wrapper td {
            border: 1px solid #ddd; /* Add borders to all cells */
            text-align: left; /* Align text to the left */
            padding: 8px; /* Add some padding for readability */
            vertical-align: middle; /* Align vertically */
        }

        .table-wrapper th {
            background-color: #f2f2f2; /* Light background for headers */
            font-weight: bold;
        }

        .table-wrapper tr:nth-child(even) {
            background-color: #f9f9f9; /* Add zebra stripe for even rows */
        }

        .table-wrapper tr:nth-child(odd) {
            background-color: #fff; /* Explicitly set background for odd rows */
        }

        .table-wrapper tbody tr:hover {
            background-color: #ddd !important; /* Ensure hover effect works */
        }

        slider-announcement-bar-app {
            display: block;
            text-align: center;
            margin: 0px;
            padding: 6px 10px;
            border-top: 1px dashed transparent;
            border-bottom: 1px dashed transparent;
            width: 100%;
        }

            slider-announcement-bar-app ul::-webkit-scrollbar {
                height: 0.4rem;
                width: 0.4rem;
                display: none;
            }

            slider-announcement-bar-app ul {
                position: relative;
                display: flex;
                overflow-x: auto;
                -ms-overflow-style: none;
                /* IE 11 */
                scrollbar-width: none;
                /* Firefox 64 */
                scroll-snap-type: x mandatory;
                scroll-behavior: smooth;
                /* scroll-padding-left: 1rem; */
                -webkit-overflow-scrolling: touch;
                margin-bottom: 0;
                padding: 0;
                list-style: none;
                align-items: center;
            }

                slider-announcement-bar-app ul li {
                    width: 100vw;
                    scroll-snap-align: start;
                    flex-shrink: 0;
                }
    
   </style>
  
  @* <link href="https://store-themes.easystore.co/896/themes/49034/assets/base.css?t=1731603610" rel="stylesheet" type="text/css" media="screen" /> *@

  
  

  <script>document.documentElement.className = document.documentElement.className.replace('no-js', 'js');</script>
</head>

<body id="secret-recipe" class="template-index" onload="cartCount()">
    <!-- Snippet:global/body_start: Announcement Bar -->
    <style type="text/css">
       /*  body {
            background-position: top 45px center;
        }
 */
        div#announcement-bar-top {
            height: 45px;
        }

        span .announcement-close-button {
            text-align: center;
            display: -webkit-flex;
            display: -moz-flex;
            display: -ms-flex;
            display: -o-flex;
            display: inline-block;
            align-items: center;
            flex-wrap: wrap;
            justify-content: center;
        }

        #announcementBar_countdown:empty {
            display: none;
        }

        .announcementBar_timer {
            margin: 5px 0px;
        }

            .announcementBar_timer.style_1,
            .announcementBar_timer.style_2 {
                display: -webkit-inline-flex;
                display: -moz-inline-flex;
                display: -ms-inline-flex;
                display: -o-inline-flex;
                display: inline-flex;
                align-items: center;
                padding: 5px 8px;
                margin: 3px 0px 3px 10px;
                border-radius: 8px;
                font-weight: bold;
            }

                .announcementBar_timer.style_1 > div,
                .announcementBar_timer.style_2 > div {
                    margin: 0 5px;
                    line-height: 1;
                }

                .announcementBar_timer.style_1 small,
                .announcementBar_timer.style_2 small {
                    display: block;
                    font-size: 55%;
                    line-height: 1;
                }

            .announcementBar_timer.style_2 {
                flex-direction: row;
            }

                .announcementBar_timer.style_2 > div {
                    position: relative;
                }

                    .announcementBar_timer.style_2 > div:not(:last-child):after {
                        position: absolute;
                        content: ':';
                        top: 0;
                        right: 0;
                        margin-right: -7px;
                    }

            .announcementBar_timer.style_3 {
                display: -webkit-inline-flex;
                display: -moz-inline-flex;
                display: -ms-inline-flex;
                display: -o-inline-flex;
                display: inline-flex;
                align-items: center;
                border-radius: 5px;
                padding: 5px 5px;
                margin-left: 10px;
                font-weight: bold;
            }

                .announcementBar_timer.style_3 > div {
                    margin: 0 3px;
                    line-height: 1;
                }

                .announcementBar_timer.style_3 small {
                    font-weight: bold;
                    line-height: 1.1;
                    font-size: 65%;
                }

        .announcement-close-button {
            position: relative;
            width: 24px;
            height: 24px;
            opacity: 1;
            background: #000;
            border-radius: 50%;
            cursor: pointer;
            top: 30%;
        }

            .announcement-close-button:hover {
                opacity: 0.6;
            }

            .announcement-close-button:before,
            .announcement-close-button:after {
                position: absolute;
                left: 11px;
                top: 5px;
                content: ' ';
                height: 14px;
                width: 2px;
                background-color: #fff;
                border-radius: 3px;
            }

            .announcement-close-button:before {
                transform: rotate(45deg);
            }

            .announcement-close-button:after {
                transform: rotate(-45deg);
            }

        .announcement-bar-button {
            padding: 4px 8px;
            vertical-align: baseline;
            border-radius: 5px;
            margin-left: 10px;
            opacity: 1;
            line-height: 1.1;
            text-decoration: none;
            display: inline-block;
            font-weight: 500;
        }

            .announcement-bar-button:hover {
                opacity: 0.8;
            }

        .announcement-bar-direction-button {
            cursor: pointer;
            padding: 0px 8px;
        }

            .announcement-bar-direction-button:hover {
                opacity: 0.8;
            }

        slider-announcement-bar-app {
            display: block;
            text-align: center;
            margin: 0px;
            padding: 6px 10px;
            border-top: 1px dashed transparent;
            border-bottom: 1px dashed transparent;
            width: 100%;
        }

            slider-announcement-bar-app ul::-webkit-scrollbar {
                height: 0.4rem;
                width: 0.4rem;
                display: none;
            }

            slider-announcement-bar-app ul {
                position: relative;
                display: flex;
                overflow-x: auto;
                -ms-overflow-style: none;
                /* IE 11 */
                scrollbar-width: none;
                /* Firefox 64 */
                scroll-snap-type: x mandatory;
                scroll-behavior: smooth;
                /* scroll-padding-left: 1rem; */
                -webkit-overflow-scrolling: touch;
                margin-bottom: 0;
                padding: 0;
                list-style: none;
                align-items: center;
            }

                slider-announcement-bar-app ul li {
                    width: 100vw;
                    scroll-snap-align: start;
                    flex-shrink: 0;
                }

        .splide__container {
            box-sizing: border-box;
            position: relative
        }

        .splide__list {
            backface-visibility: hidden;
            display: -ms-flexbox;
            display: flex;
            height: 100%;
            margin: 0 !important;
            padding: 0 !important
        }

        .splide.is-initialized:not(.is-active) .splide__list {
            display: block
        }

        .splide__pagination {
            -ms-flex-align: center;
            align-items: center;
            display: -ms-flexbox;
            display: flex;
            -ms-flex-wrap: wrap;
            flex-wrap: wrap;
            -ms-flex-pack: center;
            justify-content: center;
            margin: 0;
            pointer-events: none
        }

            .splide__pagination li {
                display: inline-block;
                line-height: 1;
                list-style-type: none;
                margin: 0;
                pointer-events: auto
            }

        .splide:not(.is-overflow) .splide__pagination {
            display: none
        }

        .splide__progress__bar {
            width: 0
        }

        .splide {
            position: relative;
            visibility: hidden
        }

            .splide.is-initialized, .splide.is-rendered {
                visibility: visible
            }

        .splide__slide {
            backface-visibility: hidden;
            box-sizing: border-box;
            -ms-flex-negative: 0;
            flex-shrink: 0;
            list-style-type: none !important;
            margin: 0;
            position: relative
        }

            .splide__slide img {
                vertical-align: bottom
            }

        .splide__spinner {
            animation: splide-loading 1s linear infinite;
            border: 2px solid #999;
            border-left-color: transparent;
            border-radius: 50%;
            bottom: 0;
            contain: strict;
            display: inline-block;
            height: 20px;
            left: 0;
            margin: auto;
            position: absolute;
            right: 0;
            top: 0;
            width: 20px
        }

        .splide__sr {
            clip: rect(0 0 0 0);
            border: 0;
            height: 1px;
            margin: -1px;
            overflow: hidden;
            padding: 0;
            position: absolute;
            width: 1px
        }

        .splide__toggle.is-active .splide__toggle__play, .splide__toggle__pause {
            display: none
        }

        .splide__toggle.is-active .splide__toggle__pause {
            display: inline
        }

        .splide__track {
            overflow: hidden;
            position: relative;
            z-index: 0
        }



        .splide__track--draggable {
            -webkit-touch-callout: none;
            -webkit-user-select: none;
            -ms-user-select: none;
            user-select: none
        }

        .splide__track--fade > .splide__list > .splide__slide {
            margin: 0 !important;
            opacity: 0;
            z-index: 0
        }

            .splide__track--fade > .splide__list > .splide__slide.is-active {
                opacity: 1;
                z-index: 1
            }

        .splide--rtl {
            direction: rtl
        }

        .splide__track--ttb > .splide__list {
            display: block
        }

        .splide__arrow {
            -ms-flex-align: center;
            align-items: center;
            background: #ccc;
            border: 0;
            border-radius: 50%;
            cursor: pointer;
            display: -ms-flexbox;
            display: flex;
            height: 2em;
            -ms-flex-pack: center;
            justify-content: center;
            opacity: .7;
            padding: 0;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            width: 2em;
            z-index: 1
        }

            .splide__arrow svg {
                fill: #000;
                height: 1.2em;
                width: 1.2em
            }

            .splide__arrow:hover:not(:disabled) {
                opacity: .9
            }

            .splide__arrow:disabled {
                opacity: .3
            }

            .splide__arrow:focus-visible {
                outline: 3px solid #0bf;
                outline-offset: 3px
            }

        .splide__arrow--prev {
            left: 1em
        }

            .splide__arrow--prev svg {
                transform: scaleX(-1)
            }

        .splide__arrow--next {
            right: 1em
        }

        .splide.is-focus-in .splide__arrow:focus {
            outline: 3px solid #0bf;
            outline-offset: 3px
        }

        .splide__pagination {
            bottom: .5em;
            left: 0;
            padding: 0 1em;
            position: absolute;
            right: 0;
            z-index: 1
        }

        .splide__pagination__page {
            background: #ccc;
            border: 0;
            border-radius: 50%;
            display: inline-block;
            height: 8px;
            margin: 3px;
            opacity: .7;
            padding: 0;
            position: relative;
            transition: transform .2s linear;
            width: 8px
        }

            .splide__pagination__page.is-active {
                background: #fff;
                transform: scale(1.4);
                z-index: 1
            }

            .splide__pagination__page:hover {
                cursor: pointer;
                opacity: .9
            }

            .splide__pagination__page:focus-visible {
                outline: 3px solid #0bf;
                outline-offset: 3px
            }

        .splide.is-focus-in .splide__pagination__page:focus {
            outline: 3px solid #0bf;
            outline-offset: 3px
        }

        .splide__progress__bar {
            background: #ccc;
            height: 3px
        }

        .splide__slide {
            -webkit-tap-highlight-color: rgba(0,0,0,0)
        }

            .splide__slide:focus {
                outline: 0
            }



        .splide.is-focus-in .splide__track > .splide__list > .splide__slide:focus {
            border-color: #0bf
        }

        }

        .splide__toggle {
            cursor: pointer
        }

            .splide__toggle:focus-visible {
                outline: 3px solid #0bf;
                outline-offset: 3px
            }

        .splide.is-focus-in .splide__toggle:focus {
            outline: 3px solid #0bf;
            outline-offset: 3px
        }

        .splide__track--nav > .splide__list > .splide__slide {
            border: 3px solid transparent;
            cursor: pointer
        }

            .splide__track--nav > .splide__list > .splide__slide.is-active {
                border: 3px solid #000
            }

        .splide__arrows--rtl .splide__arrow--prev {
            left: auto;
            right: 1em
        }

            .splide__arrows--rtl .splide__arrow--prev svg {
                transform: scaleX(1)
            }

        .splide__arrows--rtl .splide__arrow--next {
            left: 1em;
            right: auto
        }

            .splide__arrows--rtl .splide__arrow--next svg {
                transform: scaleX(-1)
            }

        .splide__arrows--ttb .splide__arrow {
            left: 50%;
            transform: translate(-50%)
        }

        .splide__arrows--ttb .splide__arrow--prev {
            top: 1em
        }

            .splide__arrows--ttb .splide__arrow--prev svg {
                transform: rotate(-90deg)
            }

        .splide__arrows--ttb .splide__arrow--next {
            bottom: 1em;
            top: auto
        }

            .splide__arrows--ttb .splide__arrow--next svg {
                transform: rotate(90deg)
            }

        .splide__pagination--ttb {
            bottom: 0;
            display: -ms-flexbox;
            display: flex;
            -ms-flex-direction: column;
            flex-direction: column;
            left: auto;
            padding: 1em 0;
            right: .5em;
            top: 0
        }

    </style>
    <!-- Full-page logo animation -->
    <div class="full-page-overlay" style="background-color:#FFFCFA;">
        <img src="https://cdn.store-assets.com/s/896/f/10594755.png"
             class="logo"
             alt="Secret Recipe Logo">
    </div>

    <!-- Content of the page -->
    @*  <div style="text-align: center; margin-top: 50px;">
        <h1>Welcome to the Secret Recipe</h1>
        <p>Explore our amazing products and recipes.</p>
    </div> *@

    <script>
        // Optional: Trigger animation only on "new tab" or page load
        document.addEventListener("DOMContentLoaded", function() {
            // Animation logic can be enhanced here
            console.log("Animation Started");
        });
        GetWhatNews();
    </script>
    <input type="hidden" id="total_announcement_left" name="total_announcement_left" value="1">
    <input type="hidden" id="locale" name="locale" value="en_US">
    <slider-announcement-bar-app id="announcement-bar" name="announcement-bar">
                     
                     padding: 4px 0px;
                     margin: 0px;
                     z-index:2999;
                     background:rgb(218, 33, 40);
                     color:rgb(255, 255, 255);
                     ">
        <div style="
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        padding: 0px 0px;
                        border-top: 0px;
                        border-bottom: 0px;
                        border-color: transparent;
                        ">
            <div style="height: 24px;">
            </div>
            <ul style="flex-grow: 2; margin: 0px;">
                <li id="announcement_bar_0" style="display: flex; justify-content: center; align-items: center; flex-wrap: wrap; margin: 0px; width: 100%; word-wrap: break-word; color : white;">
                    
                </li>
            </ul>
            <div style="display: flex;">
                <span id="announcement-close-button" name="announcement-close-button" class="announcement-close-button" style="margin-right: 10px;"></span>
            </div>
        </div>
    </slider-announcement-bar-app>
    <script>
        document.getElementById('announcement-close-button').addEventListener('click', function () {
            const announcementCloseButton = document.getElementById('announcement-bar');
            announcementCloseButton.style.display == 'none';
        });


        const announcementBarAppJS = function($) {

          $('#announcement-close-button').on('click', function() {
            $('#announcement-bar, #announcement-bar-top').hide();
            $('#easystore-section-header, .sticky-topbar').css('top', '');
          });
        }

        function showOrHide(total_announcement_left) {
          if (total_announcement_left <= 1) {
            $("#previous-announcement-bar-button,#next-announcement-bar-button").hide();
          } else {
            $("#previous-announcement-bar-button,#next-announcement-bar-button").show();
          }

          if (total_announcement_left == 0) {
            $("#announcement-close-button").hide();
            $("#announcement-bar").hide();
            $('#announcement-bar-top').hide();
          }
        };


           $(function() {
          var is_top_enabled =  0;

          const loadScript = function(url, callback) {
            const script = document.createElement("script");
            script.type = "text/javascript";
            // If the browser is Internet Explorer.
            if (script.readyState) {
              script.onreadystatechange = function() {
                if (script.readyState == "loaded" || script.readyState == "complete") {
                  script.onreadystatechange = null;
                  callback();
                }
              };
              // For any other browser.
            } else {
              script.onload = function() {
                callback();
              };
            }
            script.src = url;
            document.getElementsByTagName("head")[0].appendChild(script);
          };



          if (typeof jQuery === 'undefined') {
            loadScript('//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js', function() {
              jQuery = jQuery.noConflict(true);
              announcementBarAppJS(jQuery);
            });
          } else {
            announcementBarAppJS(jQuery);
          }



          if(is_top_enabled){
            // Prevent announcement bar block header
            setTimeout(()=>{
              $('#easystore-section-header, .sticky-topbar').css('top', $('#announcement-bar').height()+'px');
            }, 2000);
          }
        });

        setInterval(function() {
          const total_announcement = "1"
          var total_announcement_left = $("#total_announcement_left").val();

          for (let i = 0; i <= total_announcement; i++) {
            const startDate = new Date();
            const endDateStr = $("#expired_at_" + i).val();
            const endDate = endDateStr == undefined ? new Date() : new Date(endDateStr.replace(/-/g, "/"));
            const seconds = (endDate.getTime() - startDate.getTime()) / 1000;

            const days = parseInt(seconds / 86400);
            const hours = parseInt((seconds % 86400) / 3600);
            const mins = parseInt((seconds % 86400 % 3600) / 60);
            const secs = parseInt((seconds % 86400 % 3600) % 60);

            // use to translate countdown unit
            // (translate based on the preferred language when save announcement bar setting)
            String.prototype.translate = function() {
              try {
                if ($("#locale").val() == "zh_TW") {
                  if (this.toString() === 'day') {
                    return "天";
                  }
                  if (this.toString() === 'hour') {
                    return "小時";
                  }
                  if (this.toString() === 'min') {
                    return "分鐘";
                  }
                  if (this.toString() === 'sec') {
                    return "秒";
                  }
                } else {
                  if (this.toString() === 'day') {
                    if (days > 0) {
                      return "Days";
                    } else {
                      return "Day";
                    }
                  } else if (this.toString() === 'hour') {
                    if (hours > 0) {
                      return "Hours";
                    } else {
                      return "Hour";
                    }
                  } else if (this.toString() === 'min') {
                    if (mins > 0) {
                      return "Mins";
                    } else {
                      return "Min";
                    }
                  } else if (this.toString() === 'sec') {
                    if (secs > 0) {
                      return "Secs";
                    } else {
                      return "Sec";
                    }
                  }
                }
              } catch (error) {
                console.log("Some errors heres", error);
              }
            };

            const announcementBar_countdown = document.getElementById("announcementBar_countdown_" + i);
            if (announcementBar_countdown && seconds > 0) {

              $(announcementBar_countdown).show()
              announcementBar_countdown.innerHTML = `
                <div>
                  ${days} <small>${'day'.translate()}</small>
                </div>
                <div>
                  ${hours} <small>${'hour'.translate()}</small>
                </div>
                <div>
                  ${mins} <small>${'min'.translate()}</small>
                </div>
                <div>
                  ${secs} <small>${'sec'.translate()}</small>
                </div>
              `;


            } else if (announcementBar_countdown && seconds <= 0) {
              $("#announcement_bar_" + i).remove();
              total_announcement_left = total_announcement_left - 1;
              $("#total_announcement_left").val(total_announcement_left);
            }
          }

          showOrHide(total_announcement_left);
        }, 1000);




        let annoucementBarAutoMoveInterval = '';
        class AnnouncementBarAppSlider extends HTMLElement {
          constructor() {
            super();
            this.slider = this.querySelector('ul');
            this.sliderItems = this.querySelectorAll('li');
            this.prevButton = this.querySelector('a[name="previous"]');
            this.nextButton = this.querySelector('a[name="next"]');

            if (!this.slider || !this.nextButton) return;

            const resizeObserver = new ResizeObserver(entries => this.initPages());
            resizeObserver.observe(this.slider);

            this.slider.addEventListener('scroll', this.update.bind(this));
            this.prevButton.addEventListener('click', this.onButtonClick.bind(this));
            this.nextButton.addEventListener('click', this.onButtonClick.bind(this));


          }

          initPages() {
            const sliderItemsToShow = Array.from(this.sliderItems).filter(element => element.clientWidth > 0);
            this.sliderLastItem = sliderItemsToShow[sliderItemsToShow.length - 1];
            if (sliderItemsToShow.length === 0) return;
            this.slidesPerPage = Math.floor(this.slider.clientWidth / sliderItemsToShow[0].clientWidth);
            this.totalPages = sliderItemsToShow.length - this.slidesPerPage + 1;
            this.update();
            let self = this
            var total_announcement_left = $("#total_announcement_left").val();
            annoucementBarAutoMoveInterval = setInterval(function() {
              if (total_announcement_left > 1) {
                self.moveSlide('next')
              }
            }, 5000)
          }

          update() {
            this.currentPage = Math.round(this.slider.scrollLeft / this.sliderLastItem.clientWidth) + 1;
          }

          onButtonClick(event) {
            event.preventDefault();
            let self = this;
            self.moveSlide(event.currentTarget.name);
          }


          moveSlide(move_to) {

            clearInterval(annoucementBarAutoMoveInterval);
            let self = this;
            annoucementBarAutoMoveInterval = setInterval(function() {
              self.moveSlide('next');
            }, 5000)

            if (move_to === 'previous' && this.currentPage === 1) {
              this.slider.scrollTo({
                left: this.sliderLastItem.clientWidth * (this.totalPages - 1)
              });
            } else if (move_to === 'next' && this.currentPage === this.totalPages) {
              this.slider.scrollTo({
                left: 0
              });
            } else {
              const slideScrollPosition = move_to === 'next' ? this.slider.scrollLeft + this.sliderLastItem
                .clientWidth : this.slider.scrollLeft - this.sliderLastItem.clientWidth;
              this.slider.scrollTo({
                left: slideScrollPosition
              });
            }
          }

        }

        customElements.define('slider-announcement-bar-app', AnnouncementBarAppSlider);

    </script>
    <!-- /Snippet -->
    <!-- Snippet:global/body_start: Console Extension -->
    <div id='es_console' style='display: none;'>896</div>
    <!-- /Snippet -->
    <style>
        header {
            --logo-width: 195px;
        }

        .header-wrapper,
        .header-wrapper .list-menu--disclosure,
        .header-wrapper .search-modal {
             background-color: #FFFCFA;;
        }

            .header-wrapper .search-modal .field__input {
                background-color: rgb(var(--color-background));
            }

            .header-wrapper summary .icon-caret,
            .header-wrapper .header__menu-item a,
            .header-wrapper .list-menu__item,
            .header-wrapper .link--text {
                color: #000000;
            }

        .search-modal__form {
            position: relative;
        }



        .dropdown-item {
            padding: 0.4rem 2rem;
            cursor: pointer;
            line-height: 1.4;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

            .dropdown-item:hover {
                background-color: #f3f3f3;
            }

        .search__input.is-focus {
            border-radius: 15px;
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
            border: 1px solid rgba(var(--color-foreground), 1);
            border-bottom: none;
            box-shadow: none;
        }

        .clear-all {
            text-align: right;
            padding: 0 2rem 0.2rem;
            line-height: 1;
            font-size: 70%;
            margin-bottom: -2px;
        }

            .clear-all:hover {
                background-color: #fff;
            }

        .search-input-focus .easystore-section-header-hidden {
            transform: none;
        }


        .menu {
            position: relative;
        }

    </style>
    @*
        <link rel="preload" href="https://store-themes.easystore.co/896/themes/49034/assets/section-header.css?t=1731603610" as="style" onload="this.onload=null;this.rel='stylesheet'">
        <link rel="preload" href="https://store-themes.easystore.co/896/themes/49034/assets/component-list-menu.css?t=1731603610" as="style" onload="this.onload=null;this.rel='stylesheet'">
        <link rel="preload" href="https://store-themes.easystore.co/896/themes/49034/assets/component-menu-drawer.css?t=1731603610" as="style" onload="this.onload=null;this.rel='stylesheet'">
        <link rel="preload" href="https://store-themes.easystore.co/896/themes/49034/assets/component-cart-notification.css?v1.1?t=1731603610" as="style" onload="this.onload=null;this.rel='stylesheet'">
        <script src="https://store-themes.easystore.co/896/themes/49034/assets/cart-notification.js?t=1731603610" defer="defer"></script>
        <script src="https://store-themes.easystore.co/896/themes/49034/assets/details-modal.js?t=1731603610" defer="defer"></script>
    *@

    <svg xmlns="http://www.w3.org/2000/svg" class="hidden">
        <symbol id="icon-search" viewbox="0 0 18 19" fill="none">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M11.03 11.68A5.784 5.784 0 112.85 3.5a5.784 5.784 0 018.18 8.18zm.26 1.12a6.78 6.78 0 11.72-.7l5.4 5.4a.5.5 0 11-.71.7l-5.41-5.4z" fill="currentColor" />
        </symbol>
        <symbol id="icon-close" class="icon icon-close" fill="none" viewBox="0 0 18 17">
            <path d="M.865 15.978a.5.5 0 00.707.707l7.433-7.431 7.579 7.282a.501.501 0 00.846-.37.5.5 0 00-.153-.351L9.712 8.546l7.417-7.416a.5.5 0 10-.707-.708L8.991 7.853 1.413.573a.5.5 0 10-.693.72l7.563 7.268-7.418 7.417z" fill="currentColor">
        </symbol>
    </svg>
    <div id="easystore-section-header">
       
    </div>

    <style>
        .cart-notification {
            display: none;
        }
    </style>
    <script>
        document.getElementById('cart-notification-form').addEventListener('submit', (event) => {
            if (event.submitter) event.submitter.classList.add('loading');
        })g

        document.addEventListener("DOMContentLoaded", function() {
            const dropdownBtn = document.getElementById("dropdown-btn");
            const dropdownMenu = document.getElementById("dropdown-menu");
            const profileDropdown = document.getElementById("profileDropdown");

            dropdownBtn.addEventListener("click", function(event) {
                dropdownMenu.style.display = dropdownMenu.style.display === "flex" ? "none" : "flex";
                event.stopPropagation();
            });


            document.addEventListener("click", function(event) {
                if (!dropdownBtn.contains(event.target) && !dropdownMenu.contains(event.target)) {
                    dropdownMenu.style.display = "none";
                }
            });
        });
    <script>

        // function showOrHide(total_announcement_left) {
        //   if (total_announcement_left <= 1) {
        //     $("#previous-announcement-bar-button,#next-announcement-bar-button").hide();
        //   } else {
        //     $("#previous-announcement-bar-button,#next-announcement-bar-button").show();
        //   }

        //   if (total_announcement_left == 0) {
        //     $("#announcement-close-button").hide();
        //     $("#announcement-bar").hide();
        //     $('#announcement-bar-top').hide();
        //   }
        // };
        class StickyHeader extends HTMLElement {
            constructor() {
                super();
            }

            connectedCallback() {
                this.header = document.getElementById('easystore-section-header');
                this.headerBounds = {};
                this.currentScrollTop = 0;
                this.preventReveal = false;

                this.onScrollHandler = this.onScroll.bind(this);
                this.hideHeaderOnScrollUp = () => this.preventReveal = true;

                this.addEventListener('preventHeaderReveal', this.hideHeaderOnScrollUp);
                window.addEventListener('scroll', this.onScrollHandler, false);

                this.createObserver();
            }

            disconnectedCallback() {
                this.removeEventListener('preventHeaderReveal', this.hideHeaderOnScrollUp);
                window.removeEventListener('scroll', this.onScrollHandler);
            }

            createObserver() {
                let observer = new IntersectionObserver((entries, observer) => {
                    this.headerBounds = entries[0].intersectionRect;
                    observer.disconnect();
                });

                observer.observe(this.header);
            }

            onScroll() {
                const scrollTop = window.pageYOffset || document.documentElement.scrollTop;

                if (scrollTop > this.currentScrollTop && scrollTop > this.headerBounds.bottom) {
                    requestAnimationFrame(this.hide.bind(this));
                } else if (scrollTop < this.currentScrollTop && scrollTop > this.headerBounds.bottom) {
                    if (!this.preventReveal) {
                        requestAnimationFrame(this.reveal.bind(this));
                    } else {
                        window.clearTimeout(this.isScrolling);

                        this.isScrolling = setTimeout(() => {
                            this.preventReveal = false;
                        }, 66);

                        requestAnimationFrame(this.hide.bind(this));
                    }
                } else if (scrollTop <= this.headerBounds.top) {
                    requestAnimationFrame(this.reset.bind(this));
                }


                this.currentScrollTop = scrollTop;
            }

            hide() {
                this.header.classList.add('easystore-section-header-hidden', 'easystore-section-header-sticky');
                this.closeMenuDisclosure();
                // this.closeSearchModal();
            }

            reveal() {
                this.header.classList.add('easystore-section-header-sticky', 'animate');
                this.header.classList.remove('easystore-section-header-hidden');
            }

            reset() {
                this.header.classList.remove('easystore-section-header-hidden', 'easystore-section-header-sticky', 'animate');
            }

            closeMenuDisclosure() {
                this.disclosures = this.disclosures || this.header.querySelectorAll('details-disclosure');
                this.disclosures.forEach(disclosure => disclosure.close());
            }

            // closeSearchModal() {
            //   this.searchModal = this.searchModal || this.header.querySelector('details-modal');
            //   this.searchModal.close(false);
            // }
        }

        customElements.define('sticky-header', StickyHeader);


        class DetailsDisclosure extends HTMLElement {
            constructor() {
                super();
                this.mainDetailsToggle = this.querySelector('details');
                // this.mainDetailsToggle.addEventListener('focusout', this.onFocusOut.bind(this));
                this.mainDetailsToggle.addEventListener('mouseover', this.open.bind(this));
                this.mainDetailsToggle.addEventListener('mouseleave', this.close.bind(this));
            }

            onFocusOut() {
                setTimeout(() => {
                    if (!this.contains(document.activeElement)) this.close();
                })
            }

            open() {
                this.mainDetailsToggle.setAttribute('open', 1)
            }

            close() {
                this.mainDetailsToggle.removeAttribute('open')
            }
        }

        customElements.define('details-disclosure', DetailsDisclosure);

        function clearAll() {
            localStorage.removeItem('searchHistory');

            var customer = "";
            if (customer) {
                // Your logic to clear all data or call an endpoint
                fetch('/account/search_histories', {
                    method: 'DELETE',
                    headers: {
                        "Content-Type": "application/json",
                        "X-Requested-With": "XMLHttpRequest"
                    },
                    body: JSON.stringify({
                        _token: "IVhjJo7xG1HZxQimlJ1lLO4VDJBs9gnqFWEYq3Hi"
                    }),
                })
                    .then(response => response.json())
            }
        }
        // End - delete search history from local storage

        // search history dropdown
        var searchInputs = document.querySelectorAll('.search__input');

        if (searchInputs.length > 0) {

            searchInputs.forEach((searchInput) => {

                searchInput.addEventListener('focus', function () {
                    var searchDropdown = searchInput.closest('form').querySelector('#searchDropdown');
                    searchDropdown.innerHTML = ''; // Clear existing items

                    // retrieve data from local storage
                    var searchHistoryData = JSON.parse(localStorage.getItem('searchHistory')) || [];

                    // Convert JSON to string
                    var search_history_json = JSON.stringify(searchHistoryData);

                    // Set the value of the hidden input
                    searchInput.closest('form').querySelector(".hidden_search_history").value = search_history_json;

                    // create dropdown items
                    var clearAllItem = document.createElement('div');
                    clearAllItem.className = 'dropdown-item clear-all';
                    clearAllItem.textContent = 'Clear';
                    clearAllItem.addEventListener('click', function () {
                        clearAll();
                        searchDropdown.style.display = 'none';
                        searchInput.classList.remove('is-focus');
                    });
                    searchDropdown.appendChild(clearAllItem);

                    // create dropdown items
                    searchHistoryData.forEach(function (item) {
                        var dropdownItem = document.createElement('div');
                        dropdownItem.className = 'dropdown-item';
                        dropdownItem.textContent = item.term;
                        dropdownItem.addEventListener('click', function () {
                            searchInput.value = item.term;
                            searchInput.closest('form').submit();
                            searchDropdown.style.display = 'none';
                        });
                        searchDropdown.appendChild(dropdownItem);
                    });

                    if (searchHistoryData.length > 0) {
                        // display the dropdown
                        searchInput.classList.add('is-focus');
                        document.body.classList.add('search-input-focus');
                        searchDropdown.style.display = 'block';
                    }
                });

                searchInput.addEventListener("focusout", (event) => {
                    var searchDropdown = searchInput.closest('form').querySelector('#searchDropdown');
                    searchInput.classList.remove('is-focus');
                    searchDropdown.classList.add('transparent');
                    setTimeout(() => {
                        searchDropdown.style.display = 'none';
                        searchDropdown.classList.remove('transparent');
                        document.body.classList.remove('search-input-focus');
                    }, 400);
                });
            })
        }
             document.addEventListener("DOMContentLoaded", function() {
            const popup = document.getElementById("popup");
            popup.classList.remove("hidden");

            popup.addEventListener("mouseenter", () => {
                popup.style.opacity = "1";
            });

            popup.addEventListener("mouseleave", () => {
                popup.style.opacity = "0.9";
            });
        });

        function closePopup() {
            const popup = document.getElementById("popup");
            popup.classList.add("hidden");
        }
        // End - search history dropdown
    </script>
    <div class="image-container">
        <img src="https://static.wixstatic.com/media/623762_206488417c5c403bac59c362c4f99556~mv2.jpg/v1/fill/w_1899,h_458,al_c,q_85,usm_0.66_1.00_0.01,enc_avif,quality_auto/623762_206488417c5c403bac59c362c4f99556~mv2.jpg" alt="SR HEADER whats new.jpg" fetchpriority="high">
        <h2 class="centered-text">What's New</h2>
    </div>

    <div class="item-list" id="item-list">
        <!-- First Item - Cake Cooler Bag -->
        <div class="item">
            <a href="/SecretRecipe/Coolerbag">
                <div class="item-image">
                    <img srcset="https://cdn.store-assets.com/s/896/f/13678328.png 550w, https://cdn.store-assets.com/s/896/f/13678328.png 710w, https://cdn.store-assets.com/s/896/f/13678328.png 1420w" src="https://cdn.store-assets.com/s/896/f/13678328.png" alt="Cake Cooler Bag" loading="lazy">
                </div>
                <div class="item-info">
                    <h3>Cake Cooler Bag</h3>
                    <p>🎂✨ Keep your cakes fresh and cool with our cake cooler bag! Perfect for transporting your delicious treats safely. Fits up to 1R size cake box. Get yours now for just $4.90!</p>
                </div>
            </a>
        </div>

        <!-- Second Item - Lunch Set -->
        <div class="item">
            <a>
                <div class="item-image">
                    <img srcset="https://cdn.store-assets.com/s/896/f/13923365.png 550w, https://cdn.store-assets.com/s/896/f/13923365.png 710w, https://cdn.store-assets.com/s/896/f/13923365.png 1420w" src="https://cdn.store-assets.com/s/896/f/13923365.png" alt="Lunch Set" loading="lazy">
                </div>
                <div class="item-info">
                    <h3>Lunch Set</h3>
                    <p>You favourites starting from $11.80. Valid Monday - Friday, 11am-2pm.</p>
                </div>
            </a>
        </div>

        <!-- Third Item - Tea Time Special -->
        <div class="item">
            <a>
                <div class="item-image">
                    <img srcset="https://cdn.store-assets.com/s/896/f/10595240.png 550w, https://cdn.store-assets.com/s/896/f/10595240.png 710w, https://cdn.store-assets.com/s/896/f/10595240.png 1420w" src="https://cdn.store-assets.com/s/896/f/10595240.png" alt="Tea Time Special" loading="lazy">
                </div>
                <div class="item-info">
                    <h3>Tea Time Special</h3>
                    <p>Get a free cup of selected coffee, tea or soft drink with purchase of any starter, pastries or slice of cake. Valid Monday - Friday, 3pm - 6pm.</p>
                </div>
            </a>
        </div>

        <!-- Fourth Item - Lets Dinner! -->
        <div class="item">
            <a>
                <div class="item-image">
                    <img srcset="https://cdn.store-assets.com/s/896/f/13923363.png 550w, https://cdn.store-assets.com/s/896/f/13923363.png 710w, https://cdn.store-assets.com/s/896/f/13923363.png 1420w" src="https://cdn.store-assets.com/s/896/f/13923363.png" alt="Lets Dinner!" loading="lazy">
                </div>
                <div class="item-info">
                    <h3>Lets Dinner!</h3>
                    <p>Your favourites starting from $12.80! Valid Monday - Friday, 6pm-closing.</p>
                </div>
            </a>
        </div>
    </div>


    <style>
        /* Image container styles */
        .image-container {
            position: relative;
            width: 100%;
            height: auto;
            max-width: 100%;
        }

            .image-container img {
                width: 100%;
                height: auto;
                display: block;
            }

        /* Centered text styling */
        .centered-text {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: 2em; /* Adjust the size as needed */
            font-weight: bold;
            color: white; /* White text color for contrast */
            text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Optional: adds shadow to make the text stand out */
            margin: 0;
        }


        /* General styles for the item list */
        .item-list {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /* Responsive grid layout */
            gap: 20px;
            padding: 20px;
            justify-items: center;
        }

        /* Individual item styling */
        .item {
            background-color: #fff;
            border-radius: 8px;
            box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
            overflow: hidden;
            transition: transform 0.3s ease-in-out;
        }

            .item a {
                text-decoration: none;
                color: inherit;
            }

        /* Image wrapper styling */
        .item-image {
            width: 100%;
            height: auto;
        }

            .item-image img {
                width: 100%;
                height: 400px;
                display: block;
                border-bottom: 2px solid #f0f0f0;
            }

        /* Item information styling */
        .item-info {
            padding: 15px;
        }

            .item-info h3 {
                font-size: 1.2em;
                margin: 0 0 10px;
                font-weight: bold;
            }

            .item-info p {
                font-size: 1em;
                color: #555;
            }

        /* Hover effect for the items */
        .item:hover {
            transform: translateY(-10px);
            box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
        }


        .description {
            position: absolute;
            bottom: 10px;
            left: 10px;
            text-align: left;
            color: white;
            background: rgba(0, 0, 0, 0.6);
            padding: 10px;
            border-radius: 5px;
        }

            .description .title {
                margin: 0;
                font-size: 18px;
            }

            .description p {
                margin: 5px 0 0;
                font-size: 14px;
            }



        .footer {
            background-color: #DA2128;
            color: #FFFFFF;
        }

            .footer .link--text,
            .footer .list-menu__item--link,
            .footer .footer-block__details-content .list-menu__item--link {
                color: #FFFFFF;
            }

        .footer-block__heading {
            color: #FFFFFF;
        }
    </style>
@*     <link rel="preload" href="https://store-themes.easystore.co/896/themes/49034/assets/section-footer.css?t=1731603610" as="style" onload="this.onload=null;this.rel='stylesheet'">
 *@    
  <footer class="footer color-background-1" id="footerContent">
    </footer>
    <script>
        let page_template = 'index';

        if (document.querySelector('.currency-picker')) {
            EasyStore.Currencies.change(document.querySelector('.currency-picker').value)
            EasyStore.Currencies.convertAll()
        }

        document.querySelectorAll('.currency-picker').forEach((el) => {
            el.addEventListener('change', (event) => {
                EasyStore.Currencies.change(event.target.value)


                if (page_template == 'cart') {
                    const params = new URLSearchParams(window.location.search);
                    params.set('delete_cache', 1);
                    window.location.search = params;
                } else {
                    window.location.reload();
                }

                return


                document.querySelectorAll('[name=currencies],[name=current_currency]').forEach((el) => {
                    el.value = event.target.value
                })

                if (page_template == 'cart') location.reload();
            })
        })
    </script>
    <script>
        window.variantStrings = {
            addToCart: `Add to Cart`,
            soldOut: `Sold Out`,
            unavailable: `Unavailable`,
        }

        window.accessibilityStrings = {
            shareSuccess: `Link copied to clipboard`,
        }
    </script>
    <!-- Snippet:global/body_end: Product Label -->
    <link href='https://apps.easystore.co/assets/css/product-label/main.css?v2.3' rel='stylesheet' type='text/css' media='screen' />
    <script src='https://apps.easystore.co/product-labels/productlabelv2.js?shop=secretrecipe2.easy.co' type='text/javascript'></script>
    <!-- /Snippet -->
    <!-- Snippet:global/body_end: Product Description Tabs -->
    <style>
        .product-description-tabs {
            color: #000000;
        }

        .prod-desc-tab-container {
            padding: 15px;
            margin-right: auto;
            margin-left: auto;
            background-color: #ffffff;
        }
        /* Style the list */
        .prod-desc-tab {
            list-style-type: none;
            margin: 0;
            padding: 0;
            border-bottom: solid 1px #ddd;
            /*overflow: hidden;
                                             border: 1px solid #e6e6e6;
                                             background-color: #fefefe;
                                             border-bottom: 1px solid #ddd;*/
        }
        /* Float the list items side by side */
        li.tablinks {
            display: inline-block;
            border-top: 3px solid transparent;
            border-left: 1px solid transparent;
            border-right: 1px solid transparent;
            margin-bottom: -1px;
            margin-right: 3px;
            border-radius: 4px 4px 0 0;
            background-color: rgba(212,212,212,0.3);
        }
            /* Style the links inside the list items */
            li.tablinks a {
                color: #000000;
                cursor: pointer;
                margin-right: 2px;
                line-height: 1.42857143;
                display: block;
                padding: 10px 15px;
            }
            /* Change background color of links on hover */
            li.tablinks:hover {
                background-color: #ffffff;
                border-bottom-color: transparent;
                border-top: 3px solid #ddd;
                border-left: 1px solid #ddd;
                border-right: 1px solid #ddd;
            }
            /*rgba(212,212,212,0.3)*/
            /* Create an active/current tablink class */
            li.tablinks a:focus, li.tablinks.active {
                border-top: 3px solid #ddd;
                border-left: 1px solid #ddd;
                border-right: 1px solid #ddd;
                background-color: #ffffff;
            }
        /* Style the tab content */
        .prod-desc-tab-content {
            display: none;
            padding: 15px 15px;
            /*border: 1px solid #ccc;*/
            border-top: none;
            clear: both;
            -webkit-animation: fadeEffect 1s;
            animation: fadeEffect 1s; /* Fading effect takes 1 second */
        }

            .prod-desc-tab-content > ul {
                list-style-type: disc;
            }
            /* if user select is_show_title is true, the title will be displayed; if not, hide the title*/
            .prod-desc-tab-content > h2 {
                display: block;
            }
    </style>
    <!-- /Snippet -->
    <!-- Snippet:global/body_end: Mailchimp E-Commerce -->
    <script id="mcjs">
        !function (c, h, i, m, p) { m = c.createElement(h), p = c.getElementsByTagName(h)[0], m.async = 1, m.src = i, p.parentNode.insertBefore(m, p) }(document, "script", "https://chimpstatic.com/mcjs-connected/js/users/24e0cfc4189994a568db30312/7b2e6b904b995018df4236300.js");
    </script>
    <script>
               // Utility function to show elements
        function showElement(element) {
            if (element) {
                element.style.display = 'block';
            }
        }

        // Utility function to hide elements
        function hideElement(element) {
            if (element) {
                element.style.display = 'none';
            }
        }

        // Utility function to toggle modal state
        function toggleModal(isOpen) {
            if (isOpen) {
                showElement(modal);
                showElement(overlay);
                // hideElement(mainContainer);
                // hideElement(footer);
            } else {
                hideElement(modal);
                hideElement(overlay);
                showElement(mainContainer);
                showElement(footer);
            }
        }

        // Ensure event listeners are attached properly
        function attachClickListener(element, callback) {
            if (element) {
                element.addEventListener('click', callback);
            }
        }

        // Get elements using document
        const openButtonIcon = document.querySelector('#icon-searchbtn'); // Button for opening the modal
        const closeButtonIcon = document.querySelector('.modal__close-button .icon');
        const modal = document.querySelector('#search_modal');
        const overlay = document.querySelector('.modal-overlay');
        const mainContainer = document.querySelector('#maincontent');
        const footer = document.querySelector('.footer.color-background-1');
        const closeButton = document.querySelector('.search-modal__close-button');
        var detailsElement = document.getElementById("myDetails");

        // Ensure modal and overlay are hidden by default
        hideElement(modal);
        hideElement(overlay);

        // Add event listener for opening the modal
        attachClickListener(openButtonIcon, function () {
            toggleModal(true); // Open the modal
        });

        // Add event listeners for closing the modal
        attachClickListener(closeButton, function () {
            toggleModal(false); // Close the modal
            // Remove the 'open' attribute from the <details> element
            detailsElement.removeAttribute("open");
            console.log("Modal closed and details removed");
        });

        attachClickListener(closeButtonIcon, function () {
            toggleModal(false); // Close the modal
            // Remove the 'open' attribute from the <details> element
            detailsElement.removeAttribute("open");
            console.log("Modal closed and details removed");
        });

        // Add event listener to close the modal when the overlay is clicked
        attachClickListener(overlay, function () {
            toggleModal(false); // Close the modal
            // Remove the 'open' attribute from the <details> element
            detailsElement.removeAttribute("open");
            console.log("Modal closed and details removed");
        });
    </script>

</body>
</html>